<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cross Browser Suite" parallel="tests" ><!--parallel="tests"-->
    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="seleniumTests.CrossBrowserTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="Edge Test">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="seleniumTests.CrossBrowserTest"/>
        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->